<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/cart.css">
</head>
<body>
    <h1>Your Cart</h1>
    <div class="cart-desplegado">
        <ul class="cart-desplegado__lista">

        </ul>
    </div>
    <img class="producto__line" src="/imagenesdos/bigline.png">

<form class="formu" action="/pago" method="POST">

        <label class="label"  for="">Complete Name</label>
        <input name="name" class="info" type="text" value="">

        <label class="label" for="">Identification document</label>
        <input name="document" class="info" type="text" >

         <label class="label"  for="">Delivery address</label>
        <input name="address" class="info" type="text" >

         <label class="label"  for="">E-mail</label>
        <input name="email" class="info" type="email" >

        <input class="input-productos" type="hidden" name="productos" value="">

        <button>Ingresar</button>
    </form>

    <p></p>
   
    <script src="/js/store.js"></script>
    <script src="/js/form.js"></script>
</body>
</html>