<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collection</title>
    <link rel="stylesheet" href="../styles/collection.css">
</head>
<body>
      <img class="logo_image" src="./icons/logoblack.svg" alt="">
   <a href="/" class="logo__home"><p>Home</p></a>
 </div>
      <header>
          
          <h1>New collection</h1>
          <p class="header__text">Visit the <strong> online store </strong>to buy the exclusive products</p>
          
        </header>
       
        
          <div class="one">
      
             <div class="images">
              <ul>
                <li class="grow">
                    <div class="container">
                  <a href="#">
                      <img src="./imagenes/galeri.jpg" />
                      <div class="overlay">
                          <div class="text"><p class="principal">Boys & Girls</p></div>
                      </div>
                  </a>
                  </div>
                </li>
      
                <li class="grow">
                    <div class="container">
                        <a href="#">
                            <img src="./imagenes/models.jpg" />
                            <div class="overlay">
                                <div class="text"><p class="principal">BLUE</p>
                                  <p class="year">2019 &#9675</p>
                                  
                                </div>
                            </div>
                        </a>
                        </div>
                </li>
      
                <li class="grow">
                    <div class="container">
                        <a href="#">
                            <img src="./imagenes/telefono.jpg" />
                            <div class="overlay">
                                <div class="text"><p class="principal">Telephone</p>
                                  <p class="year">February2019</p></div>
                            </div>
                        </a>
                        </div>
                </li>
              </ul>
      
            </div>  
            
  </div>

 
  
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/TweenMax.min.js"> </script>
    <script src="./js/collection.js"> </script>
</body>
</html>