<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skere</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <!-- Con respecto al viernes 8 de marzo en la presentación actualice Slider en la sección de mujer como de hombre, puse publicidad, tabla de especificaciones en cuanto a la tela.-->
    <link rel="stylesheet" href="./styles/libs/swiper.css">
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>



    <div onclick="myFunction()" id="menu" class="burger nav-toggle">
        <img src="./icons/menu.svg" class="burger__menu nav-toggle-bar">
    </div>

    <div class="menu"></div>
    <div class="menu__image" id="image">
        <img class="menu__image__container" src="./imagenes/imagemenu.png" alt="">
    </div>
    <div class="menu__nav" id="nav">
        <ul>
            <li>HOME</li>
            <img class="menu__nav__kanji" src="./imagenes/kanji.png" alt="">
            <a href="./collection.html">
                <li>NEW COLLECTION</li>
            </a>
            <a href="/store">
            <li>ONLINE STORE</li></a>
            <li>CONTACT</li>

        </ul>


        <div class="menu__nav__list">


        </div>
    </div>
    </nav>


    <div class="landing">
        <div class="landing__blank">
        </div>

        <div class="landing__middle">

            <div class="landing__middle__text">
                <p class="landing__middle__text__store">online &#9675 store</p>
            </div>

            <div class="landing__middle__logo">

                <img class="landing__middle__logo__skere" src="./imagenes/logo1.png" alt="">
            </div>
            <div class="landing__middle__object">


            </div>



        </div>

        <div class="landing__end">
            <img class="landind__end__arrow" src="./icons/ArrowWhite.svg">
        </div>
    </div>
    <div class="woman">
        <div class="woman__text">
            <div class="woman__text__number">
                <div class="woman__text__number__blank"></div>
                <div class="woman__text__number__one">
                    <p class="woman__text__number__one__text">01</p>
                </div>
            </div>
            <div class="woman__text__description">
                <div class="woman__text__description__blank"></div>
                <div class="woman__text__description__text">
                    <h1>Woman</h1>
                </div>
                <div class="woman__text__description__blank1"> 
                    <img class="woman__text__description__blank1__arrow" src="./icons/Arrow.svg" >
                </div>
                <div class="woman__text__description__collection">
                    <div class="woman__text__description__collection__vl">
                    </div>
                    <p class="woman__text__description__collection__text"> check out our new winter<br> collection</p>
                </div>
            </div>
            <div class="woman__text__year">
                <div class="woman__text__year__blank"></div>
                <div class="woman__text__year__text">
                    <p class="woman__text__year__text__product">belt &#9675 hat</p>
                </div>
                <div class="woman__text__year__blank1"></div>
                <div class="woman__text__year__text">
                    <p class="woman__text__year__text__product"> skirt &#9675 pants &#9675 coat</p>
                </div>
                <div class="woman__text__year__blank2"></div>
            </div>

        </div>
        <div class="woman__photo swiper-container swiperWoman">
            <div class="woman__photo__wrapper swiper-wrapper">
                <img class="woman__photo__model swiper-slide" src="./imagenes/woman1.png">
                <img class="woman__photo__model swiper-slide" src="./imagenes/modelwoman2.jpg">
                <img class="woman__photo__model swiper-slide" src="./imagenes/modelwoman3.jpg">
            </div>

            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>

        </div>
        <div class="woman__blank">
            <div class="woman__blank__blank"></div>
            <div class="woman__blank__arrow"></div>
            <div class="woman__blank__year">
                <p class="woman__blank__year__number">1<br>9</p>
            </div>
        </div>
    </div>

    <div class="man">
        <div class="man__blank">
            <div class="man__blank__blank"></div>
            <div class="man__blank__arrow"></div>
            <div class="man__blank__year">
                <p class="man__blank__year__number">1<br>9</p>
            </div>
        </div>
        <div class="man__photo swiper-container swiperMan">
            <div class="man__photo__wrapper swiper-wrapper" >
                <img class="man__photo__model swiper-slide" src="./imagenes/man.png">
                <img class="man__photo__model swiper-slide" src="./imagenes/man1.jpg">
                <img class="man__photo__model swiper-slide" src="./imagenes/black.jpg">
            </div>
            <!-- Add Pagination -->
         <div class="swiper-pagination"></div>
        </div>
         
        <div class="man__text">
            <div class="man__text__number">
                <div class="man__text__number__blank"></div>
                <div class="man__text__number__one">
                    <p class="man__text__number__one__text">02</p>
                </div>
            </div>
            <div class="man__text__description">
                <div class="man__text__description__blank"></div>
                <div class="man__text__description__text">
                    <h1>Man</h1>
                </div>
                <div class="man__text__description__blank1">
                        <img class="man__text__description__blank1__arrow" src="./icons/Arrow.svg" >
                </div>
                <div class="man__text__description__collection">
                    <div class="man__text__description__collection__vl">
                    </div>
                    <p class="man__text__description__collection__text"> check out our new products <br> on offer</p>
                </div>
            </div>
            <div class="man__text__year">
                <div class="man__text__year__blank"></div>
                <div class="man__text__year__text">
                    <p class="man__text__year__text__product">belt &#9675 hat</p>
                </div>
                <div class="man__text__year__blank1"></div>
                <div class="man__text__year__text">
                    <p class="man__text__year__text__product"> shorts &#9675 jeans &#9675 t-shirt</p>
                </div>
                <div class="man__text__year__blank2"></div>
            </div>
        </div>
    </div>

    <div class="fabric">
        <div class="fabric__blank">    
        </div>
        <div class="fabric__first"> 
            <div class="fabric__first__text">
                <p class="fabric__first__text__collection"><strong>New</strong> prints in every garment in the <br>March <strong>Collection</strong></p>
            </div>
            <div class="fabric__first__button">
                <button class="fabric__first__button__go" onclick="alert('This website is in process')">Go to see</button>
            </div>
            <div class="fabric__first__print"></div>
            <div class="fabric__first__blank"></div>
        </div>
        <div class="fabric__only">
            <p class="fabric__only__text">only &#9675 Skere</p>
        </div>
        <div class="fabric__second"> 
                <div class="fabric__second__blank"></div>
                <div class="fabric__second__print"></div>
                <div class="fabric__second__h2">
                    <p class="fabric__second__h2__text">Reference: <strong>March ‘19</strong></p>
                </div>
                <div class="fabric__second__text">
                    <p  class="fabric__second__text__hello"><strong>Quality :</strong> Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit, sed do eiusmod tempor incididunt </p>
                    <p class="fabric__second__text__hello"><strong>Prince : </strong> : $199,00 - $599,00</p>
                    <p class="fabric__second__text__hello"><strong>Design : </strong> Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit, sed do eiusmod tempor incididunt ut<br> labore et dolore </p>
                </div>
                <div class="fabric__second__h1">
                    <h1>Fabric</h1>
                </div>
        </div>
        <div class="fabric__blank1">

            <div class="fabric__blank1__arrow">
                    <img class="fabric__blank1__arrow__container" src="./icons/ArrowV.svg" alt="">
            </div>
            
        </div>

    </div>

    <div class="footer">
        <div class="footer__first">

        </div>
        <div class="footer__second">
            <div class="footer__second__line">
                <img class="footer__second__line__arrow" src="./icons/Arrow.png" alt="">
            </div>
            <div class="footer__second__input">
                <div class="footer__second__input__text">
                    <p class="footer__second__input__text__intro">Be part of our NEWSLETTER</p>
                </div>
                <div class="footer__second__input__words">
                    <input type="text" class="footer__second__input__words__input" placeholder="Introduce your e-mail here">
                </div>
            </div>
            <div class="footer__second__social">
                <div class="footer__second__social__blank"></div>
                <div class="footer__second__social__icons">
                    <img src="./icons/facebook.svg" alt="">
                    <img src="./icons/twitter.svg">
                    <img src="./icons/instagram.svg">
                </div>
                <div class="footer__second__social__blank1"></div>
                <div class="footer__second__social__politics">
                    <p class="footer__second__social__politics__text">Politics of privacity / conditions of buy</p>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.0/TweenMax.min.js"> </script>

    <script src="./js/libs/swiper.js"></script>
    <script src="./js/index.js"> </script>

</body>

</html>