<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="./styles/interaction.css">
</head>
<body>
    <!--
    <h1 class="welcome">welcome</h1>
    <h1 class="japan">ライブファッション</h1>
    <h1 "text">asian fashion</h1>
    <img class="skere1" src="../interaccion/logogo.png">
    <img class="skere2" src="../imagenesdos/skeren.png">

    <script>"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js"></script>
    <script src="./js/interaction.js"></script>
    -->
<div class="selectorContainer">
    <div class="selectorC camisas">
        <div id="camisa1 selector"></div>
        <div id="camisa2 selector"></div>
        <div id="camisa3 selector"></div>
    </div>
    <div class="selectorC pantalones">
        <div id="pantalon1 selector"></div>
        <div id="pantalon2 selector"></div>
        <div id="pantalon3 selector"></div>
    </div>
    <div class="selectorC zapatos">
        <div id="zapatos1 selector"></div>
        <div id="zapatos2 selector"></div>
        <div id="zapatos3 selector"></div>
    </div>
</div>

</body>
</html>