<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 class="producto__titulo">{{name}}</h1>
    <h3 class="producto__precio">$ {{price}} </h3>
     <img src="{{imagen.[0]}}" width="400px">
    <p class="producto__descripcion">{{description}} </p>
     <a class="producto__comprar"><img  src="./imagenesdos/buy.png"></a>
     <script src="/js/store.js"></script>
</body>
</html>