*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.cart-desplegado{
    display: flex;
    flex-direction: row;

    &__lista{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.info{
    border: none;
    border-bottom: 1px solid    #2D2D2D;;
}