*{
    margin: 0;
    padding: 0;
}

.aplication{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    .selectorContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        .selectorC{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 700px;
            width: 100%;
            .selector{
                width: 400px;
                height: 200px;
                margin: 20px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                filter: grayscale(55);
                transition: all .5s ease;
                
                cursor: pointer;
                &:hover{
                    
                    filter: grayscale(0)
                }
            }
        }
        .pantalones{
            #pantalon2 {
                height: 350px;
                width: 500px;

            }
           .selector {
                height: 350px;

            }
        }
    }
    
    .complete{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        #camisaSelect{
            width: 200px;
                height: 200px;
            margin: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all .5s ease;

        }
        #pantalonSelect{
            height: 350px;
            width: 200px;
            margin: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all .5s ease;
        }
        #zapatoSelect{
            width: 200px;
            height: 200px;
            margin: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all .5s ease;
        }
    }
}