* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.all {
  position: absolute;
  margin-top: 20%;
  margin-left: 50%;
  opacity: 0;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}

.you {
  color: #3D3D3D;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 100px;
}

.botone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
}

.botone .store {
  background-color: #3D3D3D;
  border: none;
  margin-top: -40%;
  width: 70%;
  height: 60%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20%;
  cursor: pointer;
}

.botone .again {
  background-color: #3D3D3D;
  border: none;
  margin-top: -40%;
  width: 50%;
  height: 60%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20%;
  cursor: pointer;
  margin-left: 10%;
}

.principal {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.principal__nav {
  margin-left: 5%;
  margin-top: 2%;
}

.principal__car {
  margin-right: 5%;
  margin-top: 2%;
}

.aplication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50%;
  width: 100vw;
}

.aplication__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  margin-left: -10%;
}

.aplication__text__mix {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #3D3D3D;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  font-size: 100px;
  margin-top: 24%;
}

.aplication__text__img {
  margin-top: 13%;
  margin-left: -160px;
}

.aplication .selectorContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-top: 10%;
  margin-left: -5%;
}

.aplication .selectorContainer .selectorC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 700px;
  width: 100%;
}

.aplication .selectorContainer .selectorC .selector {
  width: 200px;
  height: 100px;
  margin: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: grayscale(55);
          filter: grayscale(55);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

.aplication .selectorContainer .selectorC .selector:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.aplication .selectorContainer .pantalones #pantalon2 {
  height: 175px;
  width: 250 px;
}

.aplication .selectorContainer .pantalones .selector {
  height: 175px;
}

.aplication .complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: 50%;
  background-color: #ebebeb;
  margin-top: 5%;
  margin-left: -40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aplication .complete #camisaSelect {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.aplication .complete #pantalonSelect {
  height: 300px;
  width: 200px;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.aplication .complete #zapatoSelect {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.aplication .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
}

.aplication .botones .change {
  background-color: #3D3D3D;
  border: none;
  margin-top: -40%;
  width: 70%;
  height: 60%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20%;
  cursor: pointer;
}

.aplication .botones .ready {
  background-color: #3D3D3D;
  border: none;
  margin-top: -40%;
  width: 50%;
  height: 60%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20%;
  cursor: pointer;
  margin-left: 10%;
}
/*# sourceMappingURL=interaction.css.map */